*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e0f2f;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 80px repeat(5, 50px);
    background-color: #ccc;
}
.output {
    grid-column: 1 / -1;
    border: 1px solid #ccc;
    background-color: #311f47;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: right;
    padding: 6px;
}
.previous-operand {
    font-size: 13px;
    color: #ccc;
}
.current-operand {
    font-size: 20px;
}
.span-two {
    grid-column: span 2;
}
button {
    background-color: #311f47;
    color: #ccc;
    border: 1px solid #ccc;
    font-weight: 600;
    cursor: pointer;
}
button:active {
    background-color: rgba(49, 31, 71, 0.8);
}